.container {
  display: flex;
  align-items: center;
  margin: auto;
  width: 800px;
  margin-top: 100px;
  background-color: #fff;
  box-shadow: 0px 0px 10px #d3d1d1;
  border-radius: 10px;
}
.left h2 {
  text-align: center;
  color: #eee;
  font-family: 'Montserrat';
  padding-bottom: 10px;
}
.inputs {
  display: flex;
}
.left {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 40px;
  background-color: #004d40;
  border-radius: 10px;
}
.container .right {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  justify-content: center;
  margin: auto;
}
.inputs-btn button {
  outline: none;
  border: none;
  padding: 10px;
  background-color: #fff;
  border-radius: 5px;
  color: #444;
  width: 120px;
  margin-left: 20px;
  margin-top: 20px;
}
.inputs-btn {
  display: flex;
  justify-content: center;
}
.inputs input {
  border: none;
  border-bottom: 1px solid#cfcece;
  padding: 5px;
  margin-top: 30px;
  background-color: transparent;
  color: #eee;
}
.inputs label {
  width: 150px;
  display: flex;
  align-items: flex-end;
  color: #eee;
  font-family: 'Roboto';
}
.btn button {
  border: none;
  outline: none;
  padding: 10px;
  border-radius: 10px;
  background-color: #fff;
  border: 2px solid #607d8b;
  color: #607d8b;
  font-weight: 500;
  font-family: 'Montserrat';
  width: 120px;
}
.inputs-btn button:disabled {
  background-color: #eee;
  cursor: not-allowed;
  opacity: 0.5;
}
.error {
  color: red;
  margin-left: 150px;
  margin-top: 10px;
}
.right p {
  font-family: 'Roboto';
}
