<div class="table-container">
  @if (loading()) {
    <h3 style="text-align: center">Loading....</h3>
  } @else {
    <div class="head">
      <h2 class="title">Employee List</h2>
      <button (click)="User()">Add User</button>
    </div>

    <table class="modern-table">
      <thead>
        <tr>
          <th>Id</th>
          <th>Name</th>
          <th>Salary</th>
          <th>Role</th>
          <th>Update</th>
          <th>View</th>
          <th>Delete</th>
        </tr>
      </thead>

      <tbody>
        <tr *ngFor="let data of dummyData()">
          <td>{{ data.id }}</td>
          <td class="name">{{ data.name }}</td>
          <td class="salary">{{ data.salary | currency: 'INR' }}</td>
          <td>
            <span class="role-badge">{{ data.Role }}</span>
          </td>
          <td>
            <button class="edit" (click)="edit(data.id)">
              <i class="bi bi-pencil-square"></i> Edit
            </button>
          </td>
          <td>
            <button class="view" (click)="View(data.id)">
              <i class="bi bi-eye-fill"></i> View
            </button>
          </td>
          <td>
            <button class="delete" (click)="Delete(data.id)">
              <i class="bi bi-trash3-fill"></i> Delete
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  }
</div>
